doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Phonetic English
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='An alternative spelling system for English.')
    link(rel='apple-touch-icon', href='/favicon152.png')
    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
      .header, .middle, .footer
        margin 0 auto
        max-width 600px
      .footer
        padding-top 1em
        small
          color #999
          a
            color #888
      a
        text-decoration none
        &:hover
          text-decoration underline
      .in, .out
        width 45%
      .in
        float left
      .out
        float right

  body
    .header: :markdown-it

      # [Phonetic English](.)

      Here I try to demonstrate an alternative spelling system for English.

      Since I’ve always found English spelling to be more complicated than it
      needs to be I’ve been looking for alernatives for a long time.

      Long story short: English has many sounds. Trying to create a phonetic
      spelling using latin letters means you have to have many letter groups. If
      you want 1 letter to 1 sound mappings, you have to use many diacritical
      marks. [Non-latin spellings][shavian] are even more impractical. All of
      this is ignoring the fact that English is too widespread to have a real
      chance at reforming its spelling.

      But I thought I’ll try to do one anyway.

      [shavian]: https://en.wikipedia.org/wiki/Shavian_alphabet

    // googleoff: all
    .middle
      h3 IPA
      #ipa-spelling
      div(style='clear:both')
      h3 Only using latin letters
      #default-spelling
      div(style='clear:both')
    // googleon: all

    .footer
      :markdown-it
        Created by [Paul Nechifor](/). [View the Git source.](https://github.com/paul-nechifor/phonetic-english-site)

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)

    script !{js}
